:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --footer-text: #ffffff;
  --body-background-color: #fff;
  --hover-color: #2196f3;
  --background-color: #2f303a;
  --portfolio-buttons: #f5f4fa;
  --footer-text-transp: rgba(255, 255, 255, 0.6);
  --footer-text-soc: rgba(255, 255, 255, 1);
  --hero-button-fover: #188ce8;
  --team-background: #f5f4fa;
  --header-line: #ececec;
  --port-border: #eeeeee;
  --main-features-icons: #f5f4fa;
  --background-social: rgba(255, 255, 255, 0.1);
  --soc-color: rgba(175, 177, 184, 1);
  --current-page-after: rgba(33, 150, 243, 1);
  --portfolio-lable: rgba(47, 48, 58, 0.8);
  --section-portfolio-overlay: rgba(33, 150, 243, 0.9);
  --backdrope-color: rgba(0, 0, 0, 0.2);
}
